#image{
    height: 200px;
    padding: 25px;
    margin: 0 auto;
    display: block;
    min-width: 200px;
}

#btn{
    position: absolute;
    bottom: 5px;
    right: 30px;
}

#err-btn {
    position: absolute;
    bottom: 5px;
    left: 30px;
}